.ForLinks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
margin: 10px  auto;
}.ForLinks> a {
  text-decoration: none;
  padding: 5px;
  cursor: grabbing;
  transition: all 0.5s ease;
  background-color: rgb(172, 55, 55);
  color: white;
  border: 1px solid black;
  border-radius: 10px;
}.ForLinks> a:hover{
  color: rgb(172, 55, 55);
  background-color: white;
}